.subscribe {
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
}

hr {   /* My horizontal rule class */
  border: 0;
  border-top: 2px solid #7AB55C;
  margin: 0;
  width: 1em;
}

.error {
  font-size: 14px;
  color: #C23628;
  margin: 0;
  font-weight: bold;
}

form {
  margin: 0;
  margin-top: 3em;
  font-size: 18px;
}

form div {
  font-weight: 200;
}

.thankyou {
  margin-top: 1em;
}

.thankyou p {
  font-size: 18px;
  font-weight: 200;
}

#button {
  color: #FFF;
  background-color: #5C6AC4;
  font-size: 18px;
  padding: 1pc;
  margin-right: 0;
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 16px;
  }

  .thankyou h3 {
    font-size: 16px;
  }

  .thankyou p {
    font-size: 14px;
  }

  .error {
    font-size: 12px;
  }

  form,
  #button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 18px;
  }

  .thankyou h3 {
    font-size: 16px;
  }

  .thankyou p {
    font-size: 14px;
  }

  .error {
    font-size: 12px;
  }

  form,
  #button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  h1 {
    font-size: 21px;
  }

  .thankyou h3 {
    font-size: 18px;
  }

  .thankyou p {
    font-size: 16px;
  }

  form,
  #button {
    font-size: 16px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 56px;
  }
}